.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(163, 228, 224);
  background: linear-gradient(
    90deg,
    rgba(163, 228, 224, 1) 0%,
    rgba(0, 212, 255, 1) 51%,
    rgba(22, 28, 187, 1) 100%
  );
}
